.tarjetas{
    display: flex;

   
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration:none;
    border: 1px;
    border-color: black;
    margin: 2rem;
    gap: 1rem;
}

@media screen and (max-width: 1000px) {
    .tarjetas{
        flex-direction: column;
    }
    

}