.container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  outline: 1px black;
  height: 20rem;
  width: 40rem;
  border: 1px;
  border-color: black;
.text {
    margin-left: 1.2rem
}
  img {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
}
